
<%= form_tag({controller: "followers", action: "search"}, remote:true, method: :GET) do %>
    <%= label_tag '重複数' %>
    <%= number_field_tag :number %>
    <%= label_tag '属性' %>
    <%= collection_select(:type, :name, types, :id, :name) %>
    <br><br><br>
    <%= submit_tag '検索', class: "btn btn-primary"%>
<% end %>
<br><br><br>
<div id="result"></div>